########################################
#    Example config file for NF_WGOBFS
#
# Format:
# QUEUE_NUM:DIRECTION:PORT:SECRET_KEY[:MTU]
#
# QUEUE_NUM   - The NFQUEUE number to use (integer, e.g. 0 or 1).
#               MUST BE unique.
# QUEUE_LEN   - The maximum length of the NFQUEUE (QUEUE_MAX_LEN). 
#               Controls how many packets can be queued before dropping.
# SECRET_KEY  - Any string; it will be hashed to a 32-byte key for 
#               obfuscation.
# MTU         - (Optional) MTU of the external (physical) interface, 
#               NOT the WireGuard interface. If omitted, the default is 1500.
#
# Default config location: /etc/nf_wgobfs/config
# You can override the location by setting the NF_WGOBFS_CONF environment
# variable.
#
# Example entries:
# 0:16384:secretkey:1500
# 1:8192:secretkey
#
0:4096:secretkey